header {
    width: 100%;
    padding: 8px 0 0;
    top: 0;
    left: 0;
    background: #fff;
}

.logo {
    max-width: 300px;
    height: 150px;
    margin: 20px;
}

.main-nav{
    background: #52bbde;
    border-radius: 3px;
    margin: 0;
    padding: 0;
}

.main-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
}

.main-nav > ul{
    font-size: 0;
}

.main-nav > ul > li{
    display: inline-block;
    padding: 5px 0;
    font-size: 24px;
    position: relative;
}

.main-nav > ul > li > a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 23px;
    border-left: 1px solid #75c9e5;
    border-right: 1px solid #44a3bf;
}

.main-nav > ul > li > a.active {
    background: #4292ad;
    border: 2px solid #4292ad;
    color: #1b3e4a;
}

.main-nav > ul > li:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.main-nav > ul > li:first-child > a{
    border-left: none;
}

.main-nav > ul > li:last-child > a{
    border-right: none;
}

.main-nav > ul > li:hover{
    background: #4292ad;
    margin-left: -1px;
    padding-left: 1px;
}

.main-nav > ul > li:hover > a{
    border-color: #4292ad;
}

.main-nav > ul > li:hover + li > a{
    border-color: transparent;
}

.main-nav > ul > li:hover .sub-nav{
    display: block;
}

.sub-nav a{
    display: block;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-size: 18px;
}

.sub-nav a:hover{
    background: #61a5bc;
    color: #1b3e4a;
}